{% if qapes.sae != null %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Compétences</th>
                <th>Composantes essentielles</th>
            </tr>
        </thead>
        <tbody>
            {% for c in qapes.sae.apcSaeCompetences %}
                <tr>
                  <td>
                      <div class="d-flex">
                        <span class="badge badge-{{ c.competence.couleur }} me-2">&nbsp;</span>
                        <div>{{ c.competence.libelle }}</div>
                      </div>
                  </td>
                  <td>
                      {% for ce in c.competence.apcComposanteEssentielles %}
                              <ul class="list-unstyled">
                                  <li class="d-flex">
                                      <span class="badge badge-{{ c.competence.couleur }} me-2">&nbsp;</span>
                                      <div>{{ ce.libelle }}</div>
                                  </li>
                              </ul>
                      {% endfor %}
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-warning">
        Pas de SAÉ selectionnée
    </div>
{% endif %}
