<h1>Bonjour {{ user.display }}</h1>

<p>
    Votre accès à ORéBUT est maintenant activé.
    Pour vous connectez rendez-vous ici : <a href="https://orebut.davidannebicque.ovh">https://orebut.davidannebicque.ovh</a>
</p>

<p>
Cordialement,
</p>

<p><i>Email envoyé automatiquement par l'application ORéBUT. Contacter votre PACD en cas de problème.</i></p>
