<h1>Bonjour {{ user.display }}</h1>

<p>
    Merci de confirmer votre adresse email en suivant le lien ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse email</a>.<br><br>
   Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement,<br>
    Application ORéBUT
</p>

<p><i>Email envoyé automatiquement par l'application ORéBUT.</i></p>
