<h1>Bonjour {{ user.display }}</h1>

<p>
    Merci de confirmer votre adresse email en suivant le lien ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
   Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
Cordialement,
</p>

<p><i>Email envoyé automatiquement par l'application ORéBUT. Contacter votre PACD en cas de problème.</i></p>
