<h1>Bonjour {{ user.display }}</h1>

<p>
    Merci de confirmer votre adresse email en suivant le lien ci-dessous : <br><br>
    <a href="{{ url('app_verify_email', {token:token, expiredAt: expiredAt, email: user.email}) }}">Confirmer mon adresse email</a>.<br><br>
   Ce lien expire dans 1 heure.
</p>

<p>
    Cordialement,<br>
    Application ORéBUT
</p>

<p><i>Email envoyé automatiquement par l'application ORéBUT.</i></p>
