<h1>Bonjour {{ user.display }}</h1>

<p>
    Votre compte sur l'application ORéBUT a été réinitialisé.
</p>
<p>Le mot de passe temporaire est : {{ password }}</p>
<p>Nous vous invitons à le modifier une fois connecté en vous rendant sur votre profil (en haut à droite).</p>
<p>
    Pour accéder à l'application : <a href="https://orebut.iut.fr" target="_blank">
        https://orebut.iut.fr</a>.
</p>

<p>
    Cordialement,<br>
    Application ORéBUT
</p>
