{% extends 'base-speciale.html.twig' %}

{% block content %}
    <div class="mb-5">
        <h2 class="cta-1 mb-0 text-primary">En attente de validation.</h2>
    </div>

    Votre demande d'accès est enregistrée et a été envoyée au PACD. Elle sera validée dans les plus brefs délais.
    Vous recevrez un email de confirmation.
{% endblock %}

{% block header %}
    En attente de validation.
{% endblock %}

