{% extends 'base.html.twig' %}

{% block header %}
    {{ 'adm.apc_competence.show.heading'|trans }}
{% endblock %}

{% block content %}
    <div class="card">
        <h4 class="card-title">{{ 'adm.apc_competence.show.heading'|trans }}</h4>
        <div class="card-body">
            {{ include('apc/_competence.html.twig') }}
        </div>
    </div>
{% endblock %}
