{% extends 'base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ include('composants/adm-form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block header %}
    Votre mot de passe
{% endblock %}

