{% extends 'base.html.twig' %}

{% block content %}
    <div class="card mb-5">
        <div class="card-body">
            {{ include('composants/adm-form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block header %}
    Vos informations
{% endblock %}

