<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="border-bottom: 2px solid black">
    <p>Référentiel de formation. B.U.T. {{ sigle }}, parcours {{ parcours }}. Document non officiel. Limité la
       diffusion.</p>
</div>
<div style="margin-bottom: 10px">&nbsp;</div>
</body>
</html>
