<div class="alert alert-warning">
    Ces données ne sont pas publiées dans le référentiel de formation et sont indicatives !
</div><br>
<table class="table table-bordered">
    <tr>
        <th>Heures totales</th>
        <th>Dont TP</th>
        <th>Projet (autonomie)</th>
    </tr>
    <tr>
        <td>{{ apc_sae.heuresTotales }}</td>
        <td>{{ apc_sae.tpPpn }}</td>
        <td>{{ apc_sae.projetPpn }}</td>
    </tr>
</table>
<br>
<h3>Exemple(s) de mise en pratique de la SAÉ</h3>
<p>
    {{ apc_sae.exemples != null ? apc_sae.exemples|markdown_to_html : '' }}
</p>
