.table thead th {
    background-color: var(--background-navcolor-dark);
    color: var(--light-text);
}

tfoot>td>.titretableau {
    background-color: #7030a0;
    color: var(--light-text);
    font-weight: bold;
}

.logo-but {
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    color: var(--light-text);
}
html[data-navcolor='dark'] .logo-but {
    color: var(--light-text)
}

