{% extends 'base.html.twig' %}

{% block header %}Modifier l'utilisateur {{ user.display }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ include('composants/adm-form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    {{ include('composants/breadcrumb.html.twig', {liens:[
        {
            href: path('administration_utilisateur_index'),
            title: 'Gestion des utilisateurs',
        },
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('administration_utilisateur_index') }}" class="btn btn-outline-primary btn-icon btn-icon-end w-100
    w-sm-auto"
       id="dashboardTourButton">
        <i class="bi bi-arrow-left-circle"></i>
        <span>Retour à la liste</span>
    </a>
{% endblock %}
